ACTION=="add", SUBSYSTEM=="usb", RUN+="/sbin/insmod /tmp/super-cool-keyboard-module.ko"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/sbin/rmmod super-cool-keyboard-module"
